---
import CopyrightNotice from '../components/CopyrightNotice.astro';
---

<footer
	class="px-4 py-6 md:flex md:items-center md:justify-between md:py-10 2xl:px-0"
>
	<CopyrightNotice />

	<ul class="flex flex-wrap items-center justify-center">
		<li>
			<a
				href="#"
				class="text-sm font-normal text-gray-500 hover:underline dark:text-gray-400"
				>Contact</a
			>
		</li>
	</ul>
</footer>
